# **Reading** from the required textbook: ( [https://www.py4e.com/lessons/](https://www.py4e.com/lessons/))

[Dictionaries](https://www.py4e.com/lessons/dictionary) (Chapter 10)

# Combining (Nesting) Data Structures:

So far, we have examined complex data structures (lists, sets, dictionaries) that contain "scalar" values (integers, strings, boolean, etc). 

In reality, we can store any type of value in these data structures.

Consider the case of the following dictionary:

In [ ]:
phones = {
    "Jake": "212-555-0305",
    "Maria": "656-233-5555",
    "John": "693-232-5776",
    "Sophia": "415-794-3423",
}

Let's say that we want to have more than one phone assigned to Jake. It is not possible to simply assign the value to a new number, as this will just replace the current phone. For example:

In [ ]:
phones["Jake"] = "917-888-4455"
phones

{'Jake': '917-888-4455',
 'John': '693-232-5776',
 'Maria': '656-233-5555',
 'Sophia': '415-794-3423'}

You see that the phone number associated with `Jake` has the new phone 
(917-888-4455), and the old one (212-555-0305) has disappeared. So, how can we store multiple elements for the key `Jake`? Nested structures is the solution.

## Creating Nested Data Structures

What we can do instead is to have **a list** as value for the "Jake" key. So, for example, we can rewrite the dictionary as:

In [ ]:
phones = {
    "Jake": ["212-555-0305", "917-888-4455"],
    "Maria": ["656-233-5555"],
    "John": ["693-232-5776"],
    "Sophia": ["415-794-3423"]
}

And if we check the value for Jake, you will see that we get back a list:

In [ ]:
phones["Jake"]

['212-555-0305', '917-888-4455']

And then we can add and remove phones for each person:

In [ ]:
phones["Jake"].append("800-929-2923")
phones["Sophia"].append("343-342-5455")
phones["Sophia"].append("343-656-8766")
phones["Sophia"].pop(1)  # Remove the first phone for Sophia
phones

{'Jake': ['212-555-0305', '917-888-4455', '800-929-2923'],
 'John': ['693-232-5776'],
 'Maria': ['656-233-5555'],
 'Sophia': ['415-794-3423', '343-656-8766']}

Alternatively, instead of having a list, we can use a *dictionary* as a value for each key. For example, we can use key values "Work", "Cell", "Home", etc for each phone, and have something like:

In [ ]:
phones = {
    "Jake": {"Work": "212-555-0305", "Cell": "917-888-4455"},
    "Maria": {"Work": "656-233-5555"},
    "John": {"Cell": "693-232-5776"},
    "Sophia": {"Home": "415-794-3423"},
}

In [ ]:
phones

{'Jake': {'Cell': '917-888-4455', 'Work': '212-555-0305'},
 'John': {'Cell': '693-232-5776'},
 'Maria': {'Work': '656-233-5555'},
 'Sophia': {'Home': '415-794-3423'}}

## Accessing Data within Nested Structures

To access the elements within complex structures, we combine bracket and indexing operators:

In [ ]:
phones = {
    "Sophia": ["343-342-5455", "343-656-8766"],
    "John": ["693-232-5776"],
    "Maria": ["656-233-5555"],
    "Jake": ["212-555-0305", "917-888-4455", "800-929-2923"],
}

In [ ]:
phones["Jake"]

['212-555-0305', '917-888-4455', '800-929-2923']

So, to access the phones for "Jake" we write

In [ ]:
phones["Jake"]

['212-555-0305', '917-888-4455', '800-929-2923']

or

In [ ]:
my_phones = phones.get("Jake")
my_phones

['212-555-0305', '917-888-4455', '800-929-2923']

Now, if we want to access the second phone on the returned list, we write:

In [ ]:
phones["Jake"][1]

'917-888-4455'

In [ ]:
phones.get("Jake")[1]

'917-888-4455'

Similarly, when we have a dictionary that contains dictionaries:

In [ ]:
phones = {
    "Jake": {"Work": "212-555-0305", "Cell": "917-888-4455"},
    "Maria": {"Work": "656-233-5555"},
    "John": {"Cell": "693-232-5776"},
    "Sophia": {"Home": "415-794-3423"},
}

In [ ]:
phones["Jake"]["Work"]

'212-555-0305'

Or when we have a list of dictionaries:

In [ ]:
citibike_stations = [
    {
        "station_id": 72,
        "capacity": 39,
        "coords": {"lon": -73.9939, "lat": 40.7673},
        "name": "W 52 St & 11 Ave",
    },
    {
        "station_id": 79,
        "capacity": 33,
        "coords": {"lon": -74.0067, "lat": 40.7191},
        "name": "Franklin St & W Broadway",
    },
    {
        "station_id": 82,
        "capacity": 27,
        "coords": {"lon": -74.0002, "lat": 40.7673},
        "name": "St James Pl & Pearl St",
    },
    {
        "station_id": 83,
        "capacity": 62,
        "coords": {"lon": -73.9763, "lat": 40.6838},
        "name": "Atlantic Ave & Fort Greene Pl",
    },
    {
        "station_id": 116,
        "capacity": 39,
        "coords": {"lon": -74.0015, "lat": 40.7418},
        "name": "W 17 St & 8 Ave",
    },
]
type(citibike_stations)

list

To access the name of the first station:

In [ ]:
# Returns the first station entry
citibike_stations[0]

{'capacity': 39,
 'coords': {'lat': 40.7673, 'lon': -73.9939},
 'name': 'W 52 St & 11 Ave',
 'station_id': 72}

In [ ]:
# Get the name for the first station
citibike_stations[0]["name"]

'W 52 St & 11 Ave'

Or to access the coordinates:

In [ ]:
citibike_stations[0]["coords"]

And if we want to access the latitude, from the coordinates:

In [ ]:
citibike_stations[0]["coords"]["lat"]

## Exercise

You are given the following data structure.

```python
data = {
    "Jane": {
        "Job":"Professor", 
        "YOB": "1976", 
        "Children": ["Mike", "Anne"]
    }, 
    "Joe": {
        "Job":"Data Scientist", 
        "YOB": "1981"
    }
}
```

You need to write code that

* Prints the job of Joe;
* Prints the year of birth of Jane; 
* Prints the age of Jane;
* Prints the children of Jane;
* Prints the second child of Jane;
* Prints the number of people _entries_ in the data. (Notice that it is much harder to find all the people in the data, eg the children);
* Checks if Maria is in the data;
* Checks if Anne is in the data (as a **key**);
* Checks if Jane has children; 
* Checks if Joe has children. How can you handle the lack of the corresponding key? Would your code work when the list of children is empty, instead of missing?

In [ ]:
data = {
    "Jane": {"Job": "Professor", "YOB": "1976", "Children": ["Mike", "Anne"]},
    "Joe": {"Job": "Data Scientist", "YOB": "1981"},
}

### Solution

In [ ]:
# Your solution here