# **Reading** from the required textbook: ( [https://www.py4e.com/lessons/](https://www.py4e.com/lessons/))

* [Dictionaries](https://www.py4e.com/lessons/dictionary) (Chapter 10)
* [Tuples](https://www.py4e.com/lessons/tuples) (Chapter 11)

### Iterating over sets and tuples

The process of iterating through sets and tuples is pretty much identical to the one for lists. Let's see a few examples.

In [ ]:
listA = [0,3,5,7]
for b in listA:
  print(b)

0
3
5
7

In [ ]:
# Iterating over a set
print("Print all numbers in the set, and their square")
set_a = {1, 2, 3, 4, 5, 6}
for i in set_a:
    print(i, " squared is:", i * i)

In [ ]:
print("A more complex block: Only print squares of even numbers")
set_a = {1, 2, 3, 4, 5, 6}
for i in set_a:
    if i % 2 == 0:
        print("==> ", i, " squared is:", i * i)

A more complex block: Only print squares of even numbers
==>  2  squared is: 4
==>  4  squared is: 16
==>  6  squared is: 36

In [ ]:
# Iterating over a tuple
print("Print all numbers in the tuple, and their square")
tuple_a = (1, 2, 3, 4, 5, 6)
for i in tuple_a:
    print(i, " squared is:", i * i)

Print all numbers in the tuple, and their square
1  squared is: 1
2  squared is: 4
3  squared is: 9
4  squared is: 16
5  squared is: 25
6  squared is: 36

### Iterating over dictionaries

Iterating through dictionaries is a bit more complex. You can iterate through keys, values, or both.  

Here is an dictionary, which we will use as an example. It contains names as keys, and phone numbers as corresponding values.

In [ ]:
phones = {'Brian': '222-555-3344',
 'Doug': '111-222-3344',
 'Jake': '656-233-5555',
 'John': '693-232-5776',
 'Maria': '656-233-5555',
 'Sophia': '415-794-3423'}

#### Iterating over keys

By default, when we iterate over a dictionary, we are iterating over the keys.

In [ ]:
print("Iterating over keys")
for k in phones:
    print("key =", k, ", value =", phones[k])

Iterating over keys
key = Brian , value = 222-555-3344
key = Doug , value = 111-222-3344
key = Jake , value = 656-233-5555
key = John , value = 693-232-5776
key = Maria , value = 656-233-5555
key = Sophia , value = 415-794-3423

In [ ]:
print("Iterating over keys, more explicit")
for k in phones.keys():
    print("key =", k, ", value =", phones[k])

Iterating over keys, more explicit
key = Brian , value = 222-555-3344
key = Doug , value = 111-222-3344
key = Jake , value = 656-233-5555
key = John , value = 693-232-5776
key = Maria , value = 656-233-5555
key = Sophia , value = 415-794-3423

If you want to print the keys in alphabetical order, you first make a list of the keys in the dictionary using the keys method available in dictionary objects, and then sort that list and loop through the sorted list, looking up each key and printing out key-value pairs in sorted order as follows:

In [ ]:
print("Iterating over sorted keys")
sorted_keys = sorted(phones.keys())
for k in sorted_keys:
    print("key =", k, ", value =", phones[k])

Iterating over sorted keys
key = Brian , value = 222-555-3344
key = Doug , value = 111-222-3344
key = Jake , value = 656-233-5555
key = John , value = 693-232-5776
key = Maria , value = 656-233-5555
key = Sophia , value = 415-794-3423

#### Iterating over values

It is also possible to iterate over the values for the dictionary:

In [ ]:
print("Iterating over values")
for v in phones.values():
    print(v)

Iterating over values
222-555-3344
111-222-3344
656-233-5555
693-232-5776
656-233-5555
415-794-3423

#### Iterating over key-value pairs

Notice that when we iterate over the keys of a dictionary, we tend to use the `phones[k]` structure to get the value associated with the key `k`.

In [ ]:
print("Iterating over both keys and values")
# Items returns *tuples* that correspond to key-value pairs
# ("Jake", "656-233-5555"), ("Maria": "656-233-5555"), etc.

# Notice that we have a *tuple* (k,v) now as a loop variable, and the tuple
# has two entries, the key k  and the value v
for (k, v) in phones.items():
    print(k, v)

Iterating over both keys and values
Brian 222-555-3344
Doug 111-222-3344
Jake 656-233-5555
John 693-232-5776
Maria 656-233-5555
Sophia 415-794-3423

In [ ]:
# If you are confused with the (k,v) being the loop variable
# you can see the same loop where the loop variable is "item"
# Then we access the two elements of the tuple within the body
# of the loop name = item[0] and phone = item[1]
for item in phones.items():
    name = item[0]
    phone = item[1]
    print("Name:", name, "Phone:", phone)

Name: Brian Phone: 222-555-3344
Name: Doug Phone: 111-222-3344
Name: Jake Phone: 656-233-5555
Name: John Phone: 693-232-5776
Name: Maria Phone: 656-233-5555
Name: Sophia Phone: 415-794-3423

In [ ]:
for item in phones.items():
    name = item[0]
    phone = item[1][0]
    print("Name:", name, "Phone:", phone)

Name: Brian Phone: 2
Name: Doug Phone: 1
Name: Jake Phone: 6
Name: John Phone: 6
Name: Maria Phone: 6
Name: Sophia Phone: 4

## Exercise 1

Let's work on an exercise now, showing how we can iterate through a nested data structure.

You are given the composite data structure below:

In [ ]:
data = {
    "George": {
        "Job": "Professor",
        "YOB": 1965,
        "Children": ["Hannah"],
        "Awards": ["Best Teacher 2014", "Best Researcher 2015"],
        "Salary": 120000,
    },
    "Joe": {"Job": "Data Scientist", "YOB": 1981, "Salary": 200000},
    "Maria": {
        "Job": "Software Engineer",
        "YOB": 1993,
        "Children": [],
        "Awards": [
            "Dean's List 2013",
            "Valedictorian 2011",
            "First place in Math Olympiad 2010",
        ],
    },
    "Jane": {"Job": "Professor", "YOB": 1976, "Children": ["Mike", "Anne"]},
}

### Question 1:

* Print the names of the people from the dictionary below, by iterating through the keys

In [ ]:
## Print the names of people in the data

#### Solution

In [ ]:
# your code here

### Question 2:

* Print the age of each person, by iterating through the keys, and then looking up the "YOB" entry.

#### Solution

In [ ]:
# your code here

### Question 3:

* Print the names of people born after 1980

In [ ]:
## Print the names of people born after 1980

#### Solution

In [ ]:
# your code here

### Question 4:

* Print the number of children for each person. You need to check if the "Children" list exists in the dictionary.

In [ ]:
## Print the number of children for each perspon

#### Solution

In [ ]:
# your code here