### The information comes from different resources: 
* http://acme.byu.edu/
* https://www.w3schools.com/

**NumPy is a powerful Python package for manipulating data with multi-dimensional vectors**

Python's pandas
library, built on NumPy, is designed specifically for data management and analysis

In [ ]:
import numpy as np
import pandas as pd

`NumPy` is used to work with arrays. The array object in NumPy is called ndarray. We can create a NumPy ndarray object by using the `array()` function.

In [ ]:
arr = np.array((1, 2, 3, 4, 5))
arr

#### Dimensions in Arrays
A dimension in arrays is one level of array depth (nested arrays).

**0-D Arrays**

In [ ]:
a_arr = np.array(42)
a_arr

**1-D Arrays**


An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array. These are the most common and basic arrays.

In [ ]:
b_arr = np.array([1, 2, 3, 4, 5])
b_arr

**2-D Arrays**
An array that has 1-D arrays as its elements is called a 2-D array.

These are often used to represent matrix or 2nd order tensors.

In [ ]:
c_arr = np.array([[1, 2, 3], [4, 5, 6]])
c_arr

**3-D arrays**
An array that has 2-D arrays (matrices) as its elements is called 3-D array.

These are often used to represent a 3rd order tensor.

In [ ]:
d_arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])
d_arr

**Check Number of Dimensions?**

In [ ]:
print(a_arr.ndim)
print(b_arr.ndim)
print(c_arr.ndim)
print(d_arr.ndim)

### Basic Array Operations

NumPy arrays behave differently with respect to the binary arithmetic operators + and * than Python
lists do. For lists, + concatenates two lists and * replicates a list by a scalar amount (strings also
behave this way

In [ ]:
# Addition concatenates lists together.
[1, 2, 3] + [4, 5, 6]

In [ ]:
# Mutliplication concatenates a list with itself a given number of times.
[1, 2, 3] * 4

`NumPy` arrays act like mathematical vectors and matrices: + and * perform component-wise
addition or multiplication.

In [ ]:
x = np.array([1, 2, 3])
y = np.array([4, 5, 6])

In [ ]:
print(x.ndim)

In [ ]:
# Additionby a scalar acts on each element of the array.
x + 10 # Add 10 to each entry of x.

In [ ]:
# Multiplication by a scalar acts on each element of the array.
x * 4 # Multiply each entry of x by 4.

In [ ]:
# Add two arrays together (component-wise).
x + y

In [ ]:
# Multiply two arrays together (component-wise).
x * y

In [ ]:
z = np.array([7,8,9,10])

In [ ]:
x+z

In [ ]:
y*z

## Pandas Basics

Pandas is a python library used primarily to analyze data

### Pandas Data Structures
* Series
* Dataframe

####Series

A `Series` is a one-dimensional array that can hold any datatype. `Series` has an index that gives a label to each entry. An index generally is used to label the data.

Typically a `Series` contains information about one feature of the data. For example, the data in a Series might show a class's grades on a test and the Index would indicate each student in the class. To initialize a Series, the first parameter is the data and the second is the index.

https://www.w3resource.com/pandas/series/series.php

In [ ]:
# Initialize Series of student grades
math = pd.Series(np.random.randint(0,100,4), ['Mark', 'Barbara', 'Eleanor', 'David'])
english = pd.Series(np.random.randint(0,100,5), ['Mark', 'Barbara', 'David', 'Greg', 'Lauren'])

In [ ]:
math

In [ ]:
english

In [ ]:
# Series can be instantiated from dictionaries
computers = {'Mark':45, 'Barbara':78, 'Sandy':93, 'Greg':89, 'Lauren':71}

In [ ]:
computers

In [ ]:
pd.Series(computers)

#### DataFrame

 A `DataFrame` is a collection of multiple `Series`. It can be thought of as a 2-dimensional array (table), where each row is a separate datapoint and
each column is a feature of the data. The rows are labeled with an index (as in a `Series`) and the columns are labeled in the attribute columns.
There are many different ways to initialize a DataFrame. One way to initialize a `DataFrame` is
by passing in a dictionary as the data of the `DataFrame`. The keys of the dictionary will become the
labels in columns and the values are the Series associated with the label.

In [ ]:
# Create a DataFrame of student grades
grades = pd.DataFrame({"Math": math, "English": english, "Computers":computers})
grades

Notice that `pd.DataFrame` automatically lines up data from the three `Series` that have the same index. If the data only appears in one or two of the `Series` (not in all three), the entry for the missing `Series` is `NaN`.
We can also initialize a `DataFrame` with a `NumPy` array. In this way, the data is passed in as a 2-dimensional `NumPy` array, while the column labels and index are passed in as parameters. The first column label goes with the first column of the array, the second with the second, etc. The same
holds for the index.

In [ ]:
data = np.array([[80.0,76.0,78.0], [37.0,97.0,np.nan], [53.0, np.nan, np.nan], 
                 [np.nan, 48.0, 89.0], [np.nan, 68.0,	71.0], [15.0,	91.0,	45.0], [np.nan, np.nan,	93.0]])
grades_from_arr = pd.DataFrame(data, columns = ['Math', 'English', 'Computers'], index =
 ['Barbara', 'David', 'Eleanor', 'Greg', 'Lauren', 'Mark', 'Sandy'])
grades_from_arr

In [ ]:
# View the columns
grades_from_arr.columns

In [ ]:
# View the Index
grades.index

### Data I/O

The pandas library has functions that make importing and exporting data simple. The functions
allow for a variety of file formats to be imported and exported, including CSV, Excel, HDF5, SQL,
JSON, HTML, and pickle files.

**Methods**
* `to_csv()`: Write the index and entries to a CSV file
* `read_csv()`: Read a csv and convert into a DataFrame
* `to_json()`: Convert the object to a JSON string
* `to_pickle()`: Serialize the object and store it in an external file
* `to_sql()`: Write the object data to an open SQL database
* `read_html()`: Read a table in an html page and convert to a DataFrame

###Data Manipulation

**Accessing Data**

Accessing `Series` and `DataFrame` objects using `loc` and `iloc` indexers indexing operations is efficient. 

Bracket indexing has to check many cases before it can
determine how to slice the data structure. 

Using `loc/iloc` explicitly, bypasses the extra checks. 

The `loc` index selects rows and columns based on their labels, while `iloc` selects them based on their integer position. When using these indexers, the first and second arguments refer to the rows and
columns, respectively.

In [ ]:
grades

In [ ]:
# Use loc to select the Math scores of David and Greg
grades.loc[['David', 'Greg'],'Math']

In [ ]:
# Use iloc to select the Math scores of David and Greg
grades.iloc[[1,3], 0]

An entire column of a `DataFrame` can be accessed using simple square brackets and the name of the column. In addition, to create a new column or reset the values of an entire column, simply
call this column in the same fashion and set the value.

In [ ]:
# Set new History column with array of random values
# !!! In the below statment we MUST generate values for every index. 
# WHY?
grades['History'] = np.random.randint(0,100,7)
grades['History']

In [ ]:
# Reset the column such that everyone has a 100
grades['History'] = 100.0
grades

Often datasets can be very large and difficult to visualize. `Pandas` offers various methods to
make the data easier to visualize. The methods head and tail will show the first or last n data
points, respectively, where n defaults to 5. The method sample will draw n random entries of the
dataset, where n defaults to 1.

In [ ]:
# Use head to see the first n rows
grades.head(n=2)

In [ ]:
# Use head to see the first n rows
grades.head(3)

In [ ]:
# Use sample to sample a random entry
grades.sample()

In [ ]:
# Use sample to sample a random entry
grades.tail(n=3)

It may also be useful to re-order the columns or rows or sort according to a given column.

In [ ]:
# Re-order columns
new_grades = grades.reindex(columns=['English','Math','History','Computers'])

In [ ]:
# We did not reassigne the resulting dataframe to a new dataframe
# the inital order stays intact 
new_grades

In [ ]:
# Sort descending according to Math grades
grades.sort_values('Math', ascending=False)

Other methods used for manipulating `DataFrame` and `Series` `pandas` structures:
* `append()`: Concatenate two or more Series.
* `drop()`: Remove the entries with the specied label or labels
* `drop_duplicates()`: Remove duplicate values
* `dropna()`: Drop null entries
* `fillna()`: Replace null entries with a specied value or strategy
* `reindex()`: Replace the index
* `sample()`: Draw a random entry
* `shift()`: Shift the index
* `unique()`: Return unique values

### Exercise

Create a dataframe, given the table below: 

[https://github.com/ef2020/PatrickCST2312/blob/main/csv_to_dataframe.jpg](https://github.com/ef2020/PatrickCST2312/blob/main/csv_to_dataframe.jpg)

1. Try different methods for creating the DataFrame (if the data is not available use the NaN code): 
    * Create five `Pandas Series` and combine them into a data frame.
    * Create a dictionary and then a dataframe given the dictionay.
    * Create a CSV file, upload is locally and get the data from this file. 

2. Reindex the columns such that age becomes the last column while the rest of the columns maintain the same ordering.
2. Sort the DataFrame in descending order based on the age.
3. Reset all values in the 'preTestScore' column to 0.0.

In [ ]:
data = np.array([["Jason", "Miller", 42, 4, 25000], ["Molly", "Jacobson", 52, 24, 94000], 
                 ["Tina", np.nan, 36, 31, 57]])
dfarr = pd.DataFrame(data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'], index =
 [0, 1, 2])
dfarr

### Solutoin

**How To Drop a Single Column from a Dataframe?**

To drop a single column from `pandas dataframe`, we need to provide the name of the column to be dropped as a list as an argument to `drop()` function. 

To specify we want to drop column, we need to provide `axis=1` as another argument to drop function.

In [ ]:
dfcsv.drop("Unnamed: 0", axis=1)

In [ ]:
dfcsv

In [ ]:
dfcsv = dfcsv.drop("Unnamed: 0", axis=1)
dfcsv

**How To Drop Rows from a Dataframe?**

`Pandas` make it easy to drop rows of a dataframe as well. We can use the same `drop()` function to drop rows in `Pandas`.

To drop one or more rows from a `Pandas` dataframe, we need to specify the row indexes that need to be dropped and `axis=0` argument. Here, `axis=0` argument specifies we want to drop rows instead of dropping columns.

In [ ]:
new_dfcsv.drop([2, 3], axis=0)

In [ ]:
grades

In [ ]:
grades.drop(["David", "Sandy"], axis=0)

In [ ]:
grades

In [ ]:
grades.drop([0, 2], axis=0)

### Dealing with Missing Data

Missing data is a ubiquitous problem in data science. Fortunately, `pandas` is particularly well-suited
to handling missing and anomalous data. As we have already seen, the `pandas` default for a missing
value is `NaN`. In basic arithmetic operations, if one of the operands is `NaN`, then the output is also
`NaN`. The following example illustrates this concept:

In [ ]:
x = pd.Series(np.arange(5))
x

In [ ]:
y = pd.Series(np.random.randn(5))
y

In [ ]:
x.iloc[3] = np.nan
x

In [ ]:
x+y

If we are not interested in the missing values, we can simply drop them from the data altogether:

In [ ]:
z = (x + y).dropna()
z

This is not always the desired behavior, however. It may well be the case that missing data
actually corresponds to some default value, such as zero. In this case, we can replace all instances of
NaN with a specified value:

In [ ]:
# fill missing data with 0, add
x.fillna(0) + y

Other functions, such as `sum()` and `mean()` ignore `NaN` values in the computation. When
dealing with missing data, make sure you are aware of the behavior of the `pandas` functions you are
using.

## Selecting a subset of the columns

In a dataframe, we can specify the column(s) that we want to keep, and get back another dataframe with just the subset of the columns that we want to keep.

In [ ]:
! curl https://raw.githubusercontent.com/ef2020/PatrickCST2312/master/iris.csv -o iris.csv

In [ ]:
# famous machine learning data set: https://archive.ics.uci.edu/ml/datasets/iris
iris = pd.read_csv("iris.csv")
iris

In [ ]:
iris.dtypes

In [ ]:
iris.iloc[149]

In [ ]:
iris[['variety']]

In [ ]:
iris  [["sepal.length",	"sepal.width", "variety"]]

## Selecting rows

To select rows, we can use the following approach, where we generate a list of boolean values, one for each row of the dataframe, and then we use the list to select which of the rows of the dataframe we want to keep"

Decision tree: https://www.researchgate.net/figure/Decision-tree-for-Iris-dataset_fig1_293194222

In [ ]:
# check out the condition for petal width <= 0.6
iris["petal.width"]<=0.6

In [ ]:
# create the condition petal_width_l06 where petal width <= 0.6
petal_width_l06 = (iris["petal.width"]<=0.6 )
petal_width_l06

In [ ]:
# apply the petal_width_l06 condition to the iris data set
len(iris[petal_width_l06])

In [ ]:
pw_g06_pw_le17_plle49 = ((iris["petal.width"]>0.6 ) 
                      & (iris["petal.width"]<=1.7 )
                      & (iris["petal.length"]<=4.9 ))

In [ ]:
len(iris[pw_g06_pw_le17_plle49])

### Exercise

Given the decision tree, output the rows with the Iris-virginica data points (you might have spurious data points or missing data points)

## New Example

In [ ]:
!curl https://raw.githubusercontent.com/ef2020/PatrickCST2312/master/HairEyeColor.csv -o  HairEyeColor.csv

In [ ]:
hec = pd.read_csv("HairEyeColor.csv")
hec

In [ ]:
hec = hec.drop("Unnamed: 0", axis=1)

In [ ]:
hec

### Exercise

* Output the records for females with red hair.
* Output the records for blondes with blue eyes.

### Solution

In [ ]:
# your solution here

## Pivot Tables

[Pivot tables](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html) is one of the most commonly used exploratory tools, and in Pandas they are extremely flexible. 

https://rdrr.io/r/datasets/HairEyeColor.html

In [ ]:
hec.pivot_table(values="Freq", index=["Hair", "Eye"], columns="Sex")

In [ ]:
hec.pivot_table(values="Freq", index="Sex", columns=["Hair", "Eye"])

In [ ]:
hec.pivot_table(values="Freq", index=["Hair", "Sex"], columns="Eye")

Unlike `HairEyeColor`, many data sets have more than one entry in the data for each grouping
(for example, if there were two or more rows in the original data for females with blond hair and blue
eyes). To construct a pivot table, data of similar groups must be aggregated together in some way.
By default entries are aggregated by averaging the non-null values. Other options include taking the
min, max, standard deviation, or just counting the number of occurrences.

## Patrick, then I was running a lot of examples life using the Titanic data set and the following resources with examples: 

* https://regenerativetoday.com/use-of-pivot-table-in-pandas/
* https://www.w3resource.com/python-exercises/pandas/excel/pandas-pivot-titanic-exercise-3.php
* https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

## Patrick, afterwards, I was discussing the NYC Open Data platform (https://opendata.cityofnewyork.us/) and was choosing data sets from these platform to review the material from the course: 
* upload the dataset
* create a dataframe
* analyze dataframe (data types, attribute names, missing values)
* select particular columns
* seecct particular records (using if statements, regular expressions, etc.).

Several data sets that I found interesting and useful: 
* New York City Leading Causes of Death (https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam)
* DOHMH New York City Restaurant Inspection Results (https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j)
* Motor Vehicle Collisions (https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95)